body{
    max-width: 1600px;
   font-family: 'PT+Serif';
    margin: 0 auto;
    padding: 0;
    
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  color: white;
  background-color: rgba(1 , 22 , 39, 0.5);
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Old+Standard+TT', Arial, sans-serif;
  text-decoration: none;

}
.content a {
    color:aliceblue;
    text-decoration: none;
}
nav a {
    background-color: #29E7CD;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover { 
    background-color: #3993DD;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-content: center;
    align-self: center;
}