body{
    max-width: 1600px;
   font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}
header {
    background-color: #97F1FC;
    display: grid;
    grid-template-columns: 5px 50px 1fr;
}
footer {
    background-color: #97F1FC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer h3 {
    grid-column: 2;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
img #home_background {
    max-width: 1600px;
    z-index: -1;
}
#home_main {
    border-color: #FCA397;
    display: grid;
    grid-template-columns: 1fr 500px 1fr 500px 1fr 500px 1fr;
}
#home1 {
    grid-column: 2;
}
#home2 {
    grid-column: 4;
}
#home3 {
    grid-column: 6;
}
#logo {
    grid-template-columns: 1 / 2 ;
}
header h1 {
    grid-column: 3;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}