body{
    max-width: 1600px;
   font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}
header {
    background-color: #97F1FC;
    display: grid;
    grid-template-columns: 5px 50px 1fr;
    font-family: "Fugaz One", sans-serif;
  letter-spacing: 5px;
  font-size: x-large;
  font-style: normal;
}
nav {
    padding: 25px;
    text-align: center;
    background-color: #A397FC;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color:black;
    border: 5px solid;
}
nav a {
    background-color: #F0FC97;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover { 
    background-color: rgb(56, 64, 205);
}
#p1 {
    grid-column: 2;
}
#p2 {
    grid-column: 3;
}
#logo {
    display: flex;
    padding: 25px;
    padding-left: 50px;
}
footer {
    background-color: #97F1FC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer h3 {
    grid-column: 2;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
img #home_background {
    max-width: 1600px;
    z-index: -1;
}
#home_main {
    border-color: #FCA397;
    display: grid;
    grid-template-columns: 1fr 500px 1fr 500px 1fr 500px 1fr;
}
#home1 {
    grid-column: 2;
}
#home2 {
    grid-column: 4;
}
#home3 {
    grid-column: 6;
}

header h1 {
    grid-column: 3;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}