body{
    max-width: 1600px;
   font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1600;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-content: center;
    align-self: center;
}
.home-title {
    font-family: Georgia, Times, sans-serif;
font-size: 2em;
margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
nav a {
    background-color: aqua;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
#hero {
    text-align: center;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color:aqua;
}
.button-box {
    text-align: center;
}
body main {
    text-align: center;
}
.home-title {
    margin-top: 10px;
}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 5/8;
    width: 100%;
}
body {
    background-color: rgb(239, 206, 250);
}
header {
    background-color:rgb(167, 85, 194);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover { 
    background-color: rgb(56, 64, 205);
}
.book {
    text-decoration: none;
    background-color: RGB(167, 85, 194);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join { 
    text-decoration: none;
    background-color: rgb(58, 175, 185);
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}
#background {
    background-color: rgb(100, 233, 238);
}
.card img {
    border: 10px solid;
}
.card-img, .mountain {
    width: 100%;

}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: rgb(79, 190, 194);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10 ;
    grid-row: 6/7;
}
.msg p {
    padding-bottom: 15px;
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}
.rivers-card {
    width: 100%;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    width: 100%;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    width: 100%;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
}
.misty-mountain {
    width: 320px;
}
footer { 
    text-decoration: none;
    background-color: rgb(58, 175, 185);
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.logo {
    width: 150px;
}
.icon {
    padding: 5px;
}
#content {
    max-width: 1600;
}
