body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/background.jpg'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table {
  width : 80%;
  border-collapse: collapse;
  margin: 20px auto;
} 
td{
  padding: 10px;
  text-align: left;
  border: 1px solid black
}
form {
  width:300px;
  background-color: #001f3f;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 1px black;
  padding: 20px;
  max-width: 200px;
  text-align: left;
  margin-right: 2%;
}