* {
    border: 2px solid lightblue;
}
body{
    background-color: rgb(19, 237, 164);
    margin: 0px;
}
header{
    background-color: rgb(198, 155, 239);
    height: 50px;
    text-align: center;
}
header nav a {
    text-decoration: none;
    padding: 20px;
}
main{
    text-align: center;
    display:flex;
    flex-direction: column;
}
ul {
    display: inline-block;
}
.container {
border: 1px solid white;
}
